:root{
    --background-color: #eecdf7;
    --text-color: #000000;
    --todo-card-color: #d5cece;
    --header-color:rgb(232, 223, 223);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222222;
    --text-color: #ffffff;
  }
}
body.dark-theme {
  --background-color: #222222;
  --text-color: #ffffff;
  --todo-card-color: #4a1c1c;
  --header-color:rgb(232, 223, 223);
}
body.light-theme {
  --background-color: #eecdf7;
  --text-color: #000000;
   --todo-card-color: #d5cece;
   --header-color:rgb(232, 223, 223);
}

* {
    box-sizing: border-box;
 }
 body{
    background-color: var(--background-color);
    color: var(--text-color);
 }
 p, body {
    margin: 0;
 }

button{
    border-radius: 15px;
}
input{
    border-radius: 5px;
}
 .header{
    width: 100%;
    height: 130px;
    background: url("https://pic.rutubelist.ru/userappearance/84/46/844638228fedb06f465a988ec4480b3b.jpeg") center/cover no-repeat;
    color: var(--header-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    h1 {
        text-shadow: 2px 2px 13px #000;
        user-select: none;
        padding: 3em;
    }  
 }
 .add-input-container{
    width: 100%;
    max-width: 600px;
    height: 50px;
    margin: 30px auto;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    .add-todo-btn,
    .delete-completed-btn{
      font-size: 20px;
      flex-grow: 1;
      user-select: none;
    }
 }
 .add-todo-input,
 .search-input {
   border: none;
   font-size: 24px;
   flex-grow: 3;
 }

  .search-input-container {
    width: 100%;
    max-width: 600px;
    height: 50px;
    margin: 0 auto 30px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
 }

.todo-list-container {
   width: 100%;
   max-width: 580px;
   margin: 0 auto 30px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   gap: 15px;
   .todo {
        height: 60px;
        padding: 0 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        background-color: var(--todo-card-color);
        box-shadow: 0 0 15px 3px #00000055;
    }
    .todo-checkbox {
        accent-color: #3db86a;
        width: 25px;
        height: 25px;
    }
    .todo-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        .todo-text {
            margin: 0 0 3px 0;
        }
        .todo-creation-date {
            font-size: 12px;
            font-style: italic;
        }
    }
    .remove-todo-btn {
        background-color: #b5a2a2;
        border: none;
        color: #fff;
        padding: 5px 10px;
        background-color: #b83d3d;
        cursor: pointer;
        &:disabled {
            background-color: #b79999;
            cursor: not-allowed;
        }
    }
    .todo:has(.todo-checkbox:checked) {
        background-color: #6acb8e;
    }
    .todo-checkbox:checked ~ .todo-info {
        text-decoration: line-through;
    }
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-label,
.settings-select,
.settings-input,
.recover-background{
  width: 100%;
  box-sizing: border-box;
}

.save-settings-btn {
  margin-top: auto;
}

